/Guia 9/ManoALaObraGuia9Relaciones/nbproject/private/
/Guia 9/ManoALaObraGuia9Relaciones/build/
/Guia 9/ManoALaObraGuia9Relaciones2/nbproject/private/
/Guia 9/ManoALaObraGuia9Relaciones2/build/
/Guia 8/Ejercicio3ExtraGuia8/nbproject/private/
/Guia 8/Ejercicio3ExtraGuia8/build/
/Guia 9/Ejercicio1Guia9/nbproject/private/
/Guia 9/Ejercicio2Guia9/nbproject/private/
/Guia 9/Ejercicio2Guia9/build/